/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";